TestDir
updateList
updateDoNotCopyOverList
#FitNesseRoot/JunkParent/*
#FitNesseRoot/JunkPage/*
#FitNesseRoot/ProjectPage/*
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
test-results/*
jsunit/*
agitar/*
dist/*
build/*
.svn
*-*.zip
*.ipr
fitnesse*.zip
fitnesse.jar
.DS_Store
target/*
*.iml
*.ipr
*.iws
.idea
desktop.ini
inst.log
velocity.log*
FitNesseRoot/files/javascript/jsunit/*
junk/*
