# Build artifacts
build/*
lib/*

# Revision control stuff
.svn
.DS_Store

# IDE project files
*.ipr
*.iws
.idea

# FitNesse's trail (todo: less stuff left behind)
FitNesseRoot/ErrorLogs/*
FitNesseRoot/files/testResults/*
FitNesseRoot/files/javascript/jsunit/*
FitNesseRoot/updateList
FitNesseRoot/updateDoNotCopyOverList

# No idea what these are
#FitNesseRoot/JunkParent/*
#FitNesseRoot/JunkPage/*
#FitNesseRoot/ProjectPage/*
